@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
.copyright-text{
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  color: #4B5563;
}
