
<div class="container">
  <h2> <i class="fa-solid fa-envelope"></i> Contact me</h2>
  <form (ngSubmit)="sendForm()" [formGroup]="contactForm">
    <div class="inputs-container">
      <div class="form-floating mb-3" id="name-input">
        <input type="text" class="form-control border border-dark-subtle" id="name" name="name" placeholder="John Doe" formControlName="name" >
        <label for="name">Name *</label>
        <div *ngIf="contactForm.get('name')?.errors?.['required'] && contactForm.get('name')?.touched" class="text-danger">Name is required</div>
      </div>
      <div class="form-floating mb-3" id="email-input">
        <input type="email" class="form-control border border-dark-subtle" id="email" name="email" placeholder="name@example.com" formControlName="email">
        <label for="email">Email *</label>
        <div *ngIf="contactForm.get('email')?.errors?.['required'] && contactForm.get('email')?.touched" class="text-danger">Email is required</div>
        <div *ngIf="contactForm.get('email')?.errors?.['email'] && contactForm.get('email')?.touched" class="text-danger">Wrong email format</div>
      </div>
      <div class="form-floating" id="textarea">
        <textarea class="form-control border border-dark-subtle" placeholder="Leave a message here" name="message" id="message" style="height: 100px" formControlName="message"></textarea>
        <label for="message">Message *</label>
        <div *ngIf="contactForm.get('message')?.errors?.['required'] && contactForm.get('message')?.touched" class="text-danger">A message is required</div>
      </div>
      <button class="btn btn-primary fw-bold" type="submit" (submit)="sendForm()">SEND</button>
    </div>
  </form>
  <div #alertPlaceholder></div>
  </div>
