
<div class="container">
  <h2>Contact me</h2>
  <div class="inputs-container">
    <div class="form-floating mb-3" id="name-input">
      <input type="text" class="form-control border border-dark-subtle" id="name" placeholder="John Doe">
      <label for="name">Name *</label>
    </div>
    <div class="form-floating mb-3" id="email-input">
      <input type="email" class="form-control border border-dark-subtle" id="email" placeholder="name@example.com">
      <label for="email">Email *</label>
    </div>
    <div class="form-floating" id="textarea">
      <textarea class="form-control border border-dark-subtle" placeholder="Leave a message here" id="message" style="height: 100px"></textarea>
      <label for="message">Message *</label>
    </div>
    <button class="btn btn-primary fw-bold">SEND</button>
  </div>

</div>
