<div class="container">
  <h1>Hi, I'm Kenti 👋</h1>
  <p>I'm a <span class="highlight">Fullstack software developer</span> and <span class="highlight">Information Systems Engineering</span> student from Argentina.</p>
  <p>I bring <span class="highlight">3 years</span> of experience developing robust and scalable applications</p>
  <div class="contact">
    <div>
      <a href="mailto:mopup2017@gmail.com" target="_blank"><button class="btn btn-outline-dark"><i class="fa-solid fa-envelope"></i> Contact me</button></a>
    </div>
    <div>
      <a href="https://www.linkedin.com/in/kenti-gabriel-antezana-16364725b/" target="_blank"><button class="btn btn-outline-dark"><i class="fa-brands fa-linkedin-in"></i> LinkedIn</button></a>
    </div>
    <div>
      <a href="https://drive.google.com/uc?export=download&id=16PjTHoC7CEnB8IK-L1DlAVq-M2UcttW9">
        <button class="btn btn-outline-dark"><i class="fa-regular fa-file"></i> Resume</button>
      </a>
    </div>
    <div>
      <a href="https://www.linkedin.com/in/kenti-gabriel-antezana-16364725b/" target="_blank"><button class="btn btn-outline-dark"><i class="fa-brands fa-github"></i> Github</button></a>
    </div>
  </div>
</div>
