<nav class="navbar navbar-expand-md bg-body-tertiary" id>
  <div class="container-fluid">
    <a class="navbar-brand" href="#"><h2>Kenti Antezana</h2></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link" href="#skills">Skills</a>
        <a class="nav-link" href="#projects">Projects</a>
        <a class="nav-link"  href="#"  aria-disabled="true">Education</a>
        <a class="nav-link active" aria-current="page" href="#about-me">About</a>
        <a class="nav-link"  href="#" aria-disabled="true">Contact Me</a>
      </div>
    </div>
  </div>
</nav>
