<div class="about-me-container">
<img src="https://res.cloudinary.com/dpvs5m9an/image/upload/v1729864795/WhatsApp_Image_2024-10-25_at_10.55.04_jl4ryg.jpg" alt="profile-pic">
<div class="info">
  <h2>About Me</h2>
  <p>I am a versatile professional with the skills and experience to tackle complex problems and deliver intelligent, efficient solutions. </p>
  <p>With expertise in backend and frontend development, databases, security, REST APIs, testing, and microservices architecture, I can deliver complete, scalable and robust solutions for you business.</p>
  <p> My goal is to use the power of technology and abstraction to build solutions that make people's life easier and better.</p>
  <p>Why me? Because I can deliver high quality solutions, prioritizing user experience, scalability and maintenance, adapt quickly to changing environments and solve problems efficiently.</p>
    <p>Let’s work together!</p> </div>
  </div>
