<h2><i class="fa-solid fa-book"></i> About Me</h2>
<div class="about-me-container">
<img src="https://res.cloudinary.com/dpvs5m9an/image/upload/v1729864795/WhatsApp_Image_2024-10-25_at_10.55.04_jl4ryg.jpg" alt="profile-pic">
<div class="info">
  <p>I began my career in the tech industry as an Information Systems Engineering student at the <strong>National Technological University (UTN)</strong>, where I developed strong analytical and problem-solving skills.</p>

  <p>My education covered interdisciplinary topics such as <strong>networks</strong>, <strong>communications</strong>, <strong>resource management</strong>, <strong>project administration</strong>, <strong>agile methodologies</strong>, and <strong>software engineering</strong>, giving me a comprehensive view of the software development lifecycle.</p>

  <p>During university, in the Systems Design course, I focused on backend development, studying databases, testing, design patterns, and SOLID principles. I became particularly interested in backend development with <strong>Java</strong> and <strong>Spring</strong> and deepened my knowledge in these technologies.</p>

  <p>Through personal and university projects like <strong>Paw Rescue</strong> (a platform to connect pet owners with lost pets and shelters) and <strong>Carbon Footprint</strong> (an application to calculate environmental impact), I gained hands-on experience in backend development.</p>

  <p>Since 2023, I have been working with <strong>No Country</strong> in a simulated work environment, collaborating with multidisciplinary teams. This experience has strengthened my backend skills and allowed me to explore frontend technologies. I’ve developed frontend applications using <strong>TypeScript</strong>, <strong>Angular</strong>, <strong>HTML</strong>, <strong>CSS</strong>, and <strong>Bootstrap</strong>, building complete solutions from scratch.</p>

  <p>Recently, I’ve been expanding my knowledge in <strong>microservices</strong> and exploring cloud services with <strong>Google Cloud</strong>, deploying various solutions on the platform.</p>

  <p>My goal is to continue growing as a developer, staying up-to-date with emerging technologies to deliver high-quality solutions.</p>


</div>
  </div>
